.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #2f2936;
  background: linear-gradient(to right, #2f2936, #383642);
  color: #fff;

  padding: 20px 60px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);

  transition: transform 0.9s ease-in-out;
  transform: translateY(0);
  z-index: 1000;
}

.site-header.hidden {
  transform: translateY(-100%);
}

.brand {
  font-weight: bold;
  font-size: 1.25rem;
  font-family: "Lucida Grande";
}

.site-nav a {
  color: #2f2936;
  text-decoration: none;
  margin-left: 1rem;
  transition: color 0.2s ease;
}

.site-nav a:hover {
  color: #e2e2e2;
}

.site-footer {
  background-color: #f0f0f0;
  text-align: bottom;
  padding: 1rem;
}

.navButton {
  outline: none;
  border: none;
  border-radius: 3px;

  background-color: #4fd0b9;
  background: linear-gradient(to right, #4fd0b9, #6efee3);
  color: #fff;
  font-size: 0.8rem;
  font-family: "Lucida Grande";
  padding: 0.3rem 1.4rem;
  cursor: pointer;

  transition: background-color 0.2s ease;
}
