.heroSection {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;

  background-image: url("../public/background.png");
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  background-size: cover;
  background-color: #a6aba7;
}

.heroOverlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.heroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  min-height: 60vh;
  position: relative;
  left: 20%;
  z-index: 2;
  text-align: center;
  color: #fff;
  padding: 5rem;
}

.mainTitle {
  font-size: 5rem;
  margin-top: 0rem;
  margin-bottom: 0;
}

.subTitle {
  font-size: 1.5rem;
  font-family: "Lucida Grande";
  margin-top: 0.8rem;
  margin-bottom: 2rem;
}

.description {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.tagline {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width: 600px;
}

.heroContainer::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.goSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.searchBar {
  display: inline-block;
  align-items: center;
  background-color: #fff;
  border: 0px solid #ccc;
  border-radius: 40px;
  overflow: hidden;
}

.searchInput {
  border: none;
  outline: none;

  flex: 1;
  padding: 0.7rem 7rem;
  font-size: 1rem;
}

.searchButton {
  outline: none;
  border: none;
  border-radius: 40px;

  background-color: #4fd0b9;
  color: #fff;
  font-size: 0.7rem;
  font-weight: bold;
  font-family: "Lucida Grande";
  padding: 1rem 1rem;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.searchButton:hover {
  background-color: #3faa96;
}

.registerButton {
  outline: none;
  border: none;
  border-radius: 24px;

  background-color: #4fd0b9;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Lucida Grande";
  padding: 0.8rem 3.3rem;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.infoSection {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin: 0rem 0;
}

.cardLink {
  text-decoration: none;
  display: block;
  color: inherit;
  z-index: 2;
}

.card {
  width: 180px;
  text-align: center;
  color: #fff;
  padding: 10px 50px;
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}
